%h3 Objetivos

%p Formar académicos e investigadores científicos en la perspectiva de la epidemiología, la dirección y gestión de los servicios de la salud y desarrollo e investigación cuantitativa y cualitativa en salud capaces de:

%ul
	%li Comprender, analizar y proponer alternativas de solución a los problemas de salud pública y conducir los cambios necesarios para transformar favorablemente las condiciones de salud de la población.
	%li Promover la sistematización y la construcción de conocimientos en el área de Salud pública y comunitaria, regional y nacional para proyectar derroteros y alternativas de solución pertinentes.
	%li Promover el desarrollo de una actitud crítica y creativa frente a los problemas que plantea el campo de la Salud Pública.
	%li Comprender, analizar y proponer alternativas de solución a los problemas de salud pública y conducir los cambios necesarios para transformar favorablemente las condiciones de salud de la población.