%h3 Autoridaes
%p Gerente Red Asistencial Puno
%p Dra. GUADALUPE MERCERDES MAMANI JUAREZ

%h3 Bibliografía

%p El análisis de la realidad global, la asistencia sanitaria y los retos que enfrenta la salud pública, en un año caracterizado por una grave crisis económica mundial, ha vuelto a convertir al campo de la salud en un referente mundial, nacional y local. La actual problemática del campo de la salud evidenciado por un resquebrajamiento en la promoción de la salud, epidemiología,

%p participación ciudadana, calidad de los servicios de salud entre otros, es un desafío para que la salud pública señale los rumbos a seguir en la sociedad en materia de atención y cuidado de la salud;

%p de allí la necesidad de contar con profesionales preparados, creativos, versátiles que sepan utilizar la esencia de las diferentes disciplinas para poder enfrentar los actuales y futuros desafíos con una gran responsabilidad social de analizar, diagnosticar, promover, comprender y proponer alternativas que coadyuven en la solución de problemas y múltiples necesidades de la población. La Maestría en Salud Pública de la Escuela de Postgra

%p do de la UNA – Puno en un escenario de extraordinario complejidad y competencia, oferta la fo

%h3 Estudios

%p El análisis de la realidad global, la asistencia sanitaria y los retos que enfrenta la salud pública, en un año caracterizado por una grave crisis económica mundial, ha vuelto a convertir al campo de la salud en un referente mundial, nacional y local. La actual problemática del campo de la salud evidenciado por un resquebrajamiento en la promoción de la salud, epidemiología,

%p participación ciudadana, calidad de los servicios de salud entre otros, es un desafío para que la salud pública señale los rumbos a seguir en la sociedad en materia de atención y cuidado de la salud;

%p de allí la necesidad de contar con profesionales preparados, creativos, versátiles que sepan utilizar la esencia de las diferentes disciplinas para poder enfrentar los actuales y futuros desafíos con una gran responsabilidad social de analizar, diagnosticar, promover, comprender y proponer alternativas que coadyuven en la solución de problemas y múltiples necesidades de la población. La Maestría en Salud Pública de la Escuela de Postgra

%p do de la UNA – Puno en un escenario de extraordinario complejidad y competencia, oferta la fo

%h3 Áreas de Invertigación

%p El análisis de la realidad global, la asistencia sanitaria y los retos que enfrenta la salud pública, en un año caracterizado por una grave crisis económica mundial, ha vuelto a convertir al campo de la salud en un referente mundial, nacional y local. La actual problemática del campo de la salud evidenciado por un resquebrajamiento en la promoción de la salud, epidemiología,

%p participación ciudadana, calidad de los servicios de salud entre otros, es un desafío para que la salud pública señale los rumbos a seguir en la sociedad en materia de atención y cuidado de la salud;

%p de allí la necesidad de contar con profesionales preparados, creativos, versátiles que sepan utilizar la esencia de las diferentes disciplinas para poder enfrentar los actuales y futuros desafíos con una gran responsabilidad social de analizar, diagnosticar, promover, comprender y proponer alternativas que coadyuven en la solución de problemas y múltiples necesidades de la población. La Maestría en Salud Pública de la Escuela de Postgra

do de la UNA – Puno en un escenario de extraordinario complejidad y competencia, oferta la fo