
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url("YanoneKaffeesatz-Bold-webfont.eot") format('eot'),url("/fonts/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff") format('woff'), url("/fonts/YanoneKaffeesatz-Bold.ttf") format('truetype'),
  url("/fonts/YanoneKaffeesatz-Bold.otf") format('OpenType'),
  ;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: local('Yanone Kaffeesatz Light'), local('YanoneKaffeesatz-Light'),url("YanoneKaffeesatz-Light-webfont.eot") format('eot'), url("/fonts/We_iSDqttE3etzfdfhuPRVMR8FhBa8rkfAKaPBwAU3s.woff") format('woff'),
  url("/fonts/YanoneKaffeesatz-Light.ttf") format('truetype'),
  url("/fonts/YanoneKaffeesatz-Light.otf") format('OpenType');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),url("YanoneKaffeesatz-Regular-webfont.eot") format('eot'), url("
  /fonts/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff") format('woff'),
  url("/fonts/YanoneKaffeesatz-Regular.ttf") format('truetype'),
  url("/fonts/YanoneKaffeesatz-Regular.otf") format('OpenType');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz Thin'), local('YanoneKaffeesatz-Thin'),url("YanoneKaffeesatz-Thin-webfont.eot") format('eot'),
  url("/fonts/YanoneKaffeesatz-Thin.ttf") format('truetype'),
  url("/fonts/YanoneKaffeesatz-Thin.otf") format('OpenType');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('/fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('/fonts/fwaKx1kMZPd4oO9WTEGQafesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('/fonts/EFpQQyG9GqCrobXxL-KRMYSoAJ3FdnHwSRdilZRLja4.woff') format('woff');
}
