%h2=  @document.title
%h3 Are you sure you want to delete this Document?
%form( action="/document/#{@document.id}" method="post")
	%input(type="hidden" name="_method" value="delete")
	%input(type="submit" value="Delete")or
	%a(href="/tasks") Cancel